@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --c-lighttext: #FFF8E1;
    --c-dark: #263238;
    --c-darkcard: #37474f;
    --c-bluegrey: #455a64;
    --c-whiteteam: #FFF8E1;
    --c-blackteam: #455a64;
    --c-selected: #558b2f;
    --c-mouseover: #C5E1A5;
    --c-contested: #92b0a4;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.ghost-button {
    color: var(--c-lighttext);
    background: var(--c-blackteam);
    border: 1px solid var(--c-lighttext);
    font-size: 17px;
    padding: 7px 12px;
    font-weight: normal;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    min-width: 100px;
}

.ghost-button:hover,
.ghost-button:active {
    color: var(--c-lighttext);
    background: var(--c-selected);
}

* {
    background: var(--c-dark);
    color: var(--c-lighttext);
}

.toggleWithDescription {
    margin: 0 auto;
    width: 250px;
    height: 20px;
}

.toggleDescription {
    color: var(--c-lighttext);
    font-size: 20px;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: right;
    vertical-align: middle;
}

.boardCanvas {
    image-rendering: crisp-edges;
    float: left;
}

.territoryCounterLeft {
    padding-right: 10px;
    width: 90px;
    height: 50px;
    text-align: right;
    vertical-align: middle;
    line-height: 50px;
    float: left;
    font-size: 16px;
}

.territoryCounterRight {
    padding-right: 10px;
    width: 20px;
    height: 50px;
    text-align: right;
    vertical-align: middle;
    line-height: 50px;
    float: left;
    font-size: 16px;
    border: 0px;
}

.whiteOnGrey {
    background-color: var(--c-blackteam);
    color: var(--c-whiteteam);
}

.whiteOnDark {
    background-color: var(--c-dark);
    color: var(--c-whiteteam);
}

.blackOnWhite {
    background-color: var(--c-whiteteam);
    color: var(--c-blackteam);
}

.selectedMove {
    background-color: var(--c-selected);
    color: var(--c-whiteteam);
}

.mouseOverMove {
    background-color: var(--c-darkcard);
    color: var(--c-whiteteam);
}

.contested {
    background-color: var(--c-contested);
    color: var(--c-dark);
}

.moveList {
    width: 250px;
    height: auto;
    margin-left: 40px;
    overflow: hidden;
}

.moveListMoves {
    width: 200px;
    height: auto;
    float: left;
    background: var(--c-darkcard);
    min-height: 300px;
    overflow: hidden;
}

.moveListNumberColumn {
    width: 50px;
    height: auto;
    float: left;
    overflow: hidden;
}

.moveListNumber {
    background: var(--c-bluegrey);
    text-align: right;
    padding-right: 15px;
    width: 25px;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    background-color: var(--c-dark);
    color: var(--c-whiteteam);
    float: left;
}

.moveListItem {
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
    width: 90px;
    text-align: left;
    font-size: 13px;
    float: left;
}


/* https://proto.io/freebies/onoff/ */

.onoffswitch {
    float: right;
    position: relative;
    width: 43px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 20px;
    padding: 0;
    line-height: 20px;
    border: 2px solid var(--c-whiteteam);
    border-radius: 20px;
    background-color: var(--c-bluegrey);
    transition: background-color 0.1s ease-in;
}

.onoffswitch-label:before {
    content: "";
    display: block;
    width: 20px;
    margin: 0px;
    background: var(--c-whiteteam);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 21px;
    border: 2px solid var(--c-whiteteam);
    border-radius: 20px;
    transition: all 0.1s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
    background-color: var(--c-selected);
}

.onoffswitch-checkbox:checked+.onoffswitch-label,
.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    border-color: var(--c-selected);
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    right: 0px;
}